<nav id="nav-back" *ngIf="prevLoc" (click)="goBack()">
    <i class="fas fa-arrow-circle-left"></i>Назад
</nav>

<div id="orders-container">
    <table id="orders-table">
        <thead>
            <th>#</th>
            <th>Заказчик</th>
            <th>Дата</th>
            <th>Статус</th>
        </thead>

        <tbody>
            <tr class="order" (click)="switchToOrderDetails($event)" [attr.data-order-id]="6">
                <th class="number">805</th>
                <td class="client">Гончаров Виталий Дмитриевич</td>
                <td class="date">2018-06-28</td>
                <td class="status">В обработке</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="order-details" [attr.data-order-id]="">
    <table id="order-general-info">
        <tbody>
            <tr>
                <th>Номер заказа</th>
                <td>#805</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>Виталий</td>
            </tr>
            <tr>
                <th>Фамилия</th>
                <td>Гончаров</td>
            </tr>
            <tr>
                <th>Телефон</th>
                <td>79502892110</td>
            </tr>
            <tr>
                <th>Адресс доставки</th>
                <td>Самовывоз</td>
            </tr>
            <tr>
                <th>Сумма заказа</th>
                <td>$105</td>
            </tr>
            <tr>
                <th>Дата создания</th>
                <td>2018-07-28</td>
            </tr>
            <tr>
                <th>Дата обновления</th>
                <td>2018-07-30</td>
            </tr>
            <tr>
                <th>Статус</th>
                <td>В обработке</td>
            </tr>
        </tbody>
    </table>

    <table id="order-items">
        <thead>
            <th>#</th>
            <th>Наименование</th>
            <th>Ед.</th>
            <th>Цена</th>
            <th>Итого</th>
        </thead>

        <tbody>
            <tr>
                <td>5</td>
                <td>Масло Shell HELIX HX8 Synthetic 5w40</td>
                <td>1</td>
                <td>$57</td>
                <td>57</td>
            </tr>
        </tbody>
    </table>

    <button type="submit" id="edit-order" (click)="switchToOrderEditor($event)">Редактировать заказ</button>
</div>

<div id="order-editor">
    <div class="total">
        <span class="lbl">Итого</span>

        <div class="price-total">
            <span *ngIf="totalPrice">${{ totalPrice }}</span>
        </div>
    </div>

    
    <div *ngFor="let item of tempItems" class="item"  [attr.data-item-price]="item.price" 
        [attr.data-item-id]="item.id">

        <div class="title">
            <span>{{ item.title }}</span>
        </div>

        <div class="image">
            <img [src]="item.image" alt="Product image">
        </div>

        <div class="price">
            <span>${{item.price * item.amount}}</span>
        </div>

        <div class="count-buttons">
            <div class="btn-minus" (click)="minusItem($event)">
                <i class="fas fa-minus"></i>
            </div>

            <input type="text" class="count" maxlength="3"
                (keydown)="changeAmount($event)" [value]="item.amount">
            
            <div class="btn-plus" (click)="plusItem($event)">
                <i class="fas fa-plus"></i>
            </div>
        </div>

        <div class="special-buttons">
            <a type="submit" class="btn-remove" (click)="removeItem($event)">
                <i class="far fa-trash-alt"></i>
            </a>
        </div>
    </div>

    <button type="submit" class="show-add_item_panel" (click)="switchToAddItemPanel()">Добавить +</button>
    <button type="submit" class="apply_changes" (click)="applyChanges($event)">Сохранить изменения</button>
</div>

<div id="add-item-panel">
    <input type="text" id="item-search" placeholder="Товар для поиска">

    <div class="items-container">
        <div *ngFor="let item of items" class="item">
            <div class="title">
                <span>{{ item.title }}</span> 
            </div>
        
            <div class="image">
            <img [src]="item.image" class="" alt="">
            </div>
            
            <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
            </div>
        
            <div class="price">
                <span>${{ item.price }}</span>
            </div>
        
            <div class="buttons">
                <a *ngIf="!isInCart(item)" class="btn-add_to_cart" (click)="addItemToCart(item.id)">В корзину</a>
                <a *ngIf="isInCart(item)" class="btn-go_to_cart" routerLink="/cart">Перейти в корзину</a>
            </div>
        </div>
    </div>
</div>