<nav id="nav-back" (click)="toStep1()">
    <i class="fas fa-arrow-circle-left"></i>Назад
</nav>

<div id="cart-container">
  <div id="cart-header">
    <h3>Корзина</h3>
  </div>

  <div class="total" *ngIf="items?.length">
    <span class="lbl">Итого</span>

    <div class="price-total">
      <span *ngIf="totalPrice">${{ totalPrice }}</span>
    </div>
  </div>

  <div *ngIf="!items?.length" class="cart-empty">Корзина пуста</div>

  <div *ngFor="let item of items" class="item"  [attr.data-item-price]="item.price" 
    [attr.data-item-id]="item.product.id">

    <div class="title">
      <span>{{ item.product.title }}</span>
    </div>

    <div class="image">
      <img [src]="item.product.image" alt="Product image">
    </div>

    <div class="price">
      <span>${{item.product.price * item.amount}}</span>
    </div>

    <div class="count-buttons">
      <div class="btn-minus" (click)="minusItem($event)">
        <i class="fas fa-minus"></i>
      </div>

      <input type="text" class="count" maxlength="3"
        (keydown)="changeAmount($event)" [value]="item.amount">
      
      <div class="btn-plus" (click)="plusItem($event)">
        <i class="fas fa-plus"></i>
      </div>
    </div>

    <div class="special-buttons">
      <a type="submit" class="btn-remove" (click)="removeItem($event)">
        <i class="far fa-trash-alt"></i>
      </a>
    </div>
  </div>

  <button *ngIf="items.length" type="submit" class="make-order" (click)="toStep2()">Шаг 2 ></button>
</div>

<div class="order-container">
  <div id="order-header">Доставка</div>

  <div id="orderHelp">
    Оплата товара при получении!<br>
    Возможные способы оплаты: VISA, MASTERCARD, наличными.
  </div>

  <form id="order-form" [formGroup]="orderForm">
    <div class="name-block">
      <label for="name" id="name-lbl">Имя</label>
      <input type="text" id="name" formControlName="name" placeholder="Имя" autocomplete="given-name">
    </div>

    <div class="address-block">
      <label for="address" id="address-lbl">Адрес доставки</label>
      <input type="text" id="address" formControlName="address" placeholder="г.Москва, ул.Садовая, 15-3" autocomplete="street-address">
    </div>

    <div class="phone-block">
      <label for="phone" id="phone-lbl">Телефон</label>
      <input type="tel" id="phone" formControlName="phone" placeholder="7950-XXX-XX-XX" autocomplete="tel-national">
    </div>
    
    <div class="checkbox-block">
      <input type="checkbox" id="checkbox" (click)="toggleAddress($event)">
      <label for="checkbox">
        Заберу сам из пункта самовывоза
      </label>
    </div>

    <button type="submit" class="btn--save-order" (click)="saveOrder()">Оформить заказ</button>
  </form>
</div>  

<div id="order-info-container">
  <div id="order-info">
    <div id="order_info_1">Заказ принят в обработку!</div>
    <div id="order_info_2" *ngIf="orderId">
      <span>Номер заказа: </span><span id="order-number">#{{ orderId }}</span>
    </div>
    <div id="order_info_3">
      Когда заказ будет готов, мы отправим вам SMS уведомление.
    </div>
  </div>
</div>