.idea

# backend
/server/.idea
/server/.git
/server/.mvn
/server/.settings
/server/target
/server/.classpath
/server/.project
/server/classes
/server/mvnw
/server/mvnw.cmd

# frontend
/client/.editorconfig
/client/.git
/client/.project
/client/.settings
/client/.vs
/client/dist
/client/e2e/*.js
/client/e2e/*.map
/client/node_modules
