.idea

# backend
/server/.idea
/server/.git
/server/.mvn
/server/.settings
/server/target
/server/.classpath
/server/.project
/server/classes
/server/mvnw
/server/mvnw.cmd
/server/src/main/resources/public
/server/src/main/resources/static
/server/nodeLocal

# frontend
/client/.editorconfig
/client/.git
/client/.project
/client/.settings
/client/.vs
/client/dist
/client/e2e/*.js
/client/e2e/*.map
/client/node_modules
/client/dist
/client/npm-debug.log
