#orders-container {
    display: grid;
    justify-items: center;
    padding: 1em 0;
}
#orders-table {
    display: grid;
    width: 100%;
    background-color: #fff;
}
.order, #orders-table thead {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
}
#orders-table thead {
    border-bottom: 1px solid #dee2e6;
}
#orders-table thead, .order {
    border-top: 1px solid #dee2e6;
}
.order {
    cursor: pointer;
}
.order:nth-of-type(odd) {
    background-color: rgba(0,0,0,0.05);
}
#orders-table thead th,
.order .number,
.order .date,
.order .status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    word-break: break-word;
}
.order .client {
    justify-content: start;
}