<div class="container">
  <div class="myCarContainer">
    <div class="controls">
      <span class="control--backward" (click)="prevSlide()"></span>
      <span class="control--forward" (click)="nextSlide()"></span>
    </div>
    <div class="myCar">
      <li class="mySlide">
        <h1><!-- text for slide, this was left for the future --></h1>
      </li>
      <li class="mySlide">
        <h1><!-- text for slide, this was left for the future --></h1>
      </li>
      <li class="mySlide">
        <h1><!-- text for slide, this was left for the future --></h1>
      </li>
    </div>
    <div class="indicators">
      <span class="indicator" (click)="switchSlide($event)" [attr.data-slide]="1"></span>
      <span class="indicator" (click)="switchSlide($event)" [attr.data-slide]="2"></span>
      <span class="indicator" (click)="switchSlide($event)" [attr.data-slide]="3"></span>
    </div>
  </div>

  <div class="info">
    <h1>Магазин автотоваров и запчастей</h1>
    <h2>Поиск</h2>
    <div>Ищите конкретный товар? Введите его в поиске вверху</div>
  </div>
</div>



<div class="footer">
  <div class="bottom-links">
    <a class="sales" routerLink="/special-deals">
      <i class="fas fa-star"></i>
      <span>Акции</span>
    </a>
    <a class="shops" routerLink="/shops-list">
      <i class="fas fa-home"></i>
      <span>Магазины</span>
    </a>
    <a class="faq" routerLink="/company-info">
      <i class="fas fa-question-circle"></i>
      <span>О компании</span>
    </a>
  </div>
  
  <div class="footer-content">
      <i class="far fa-copyright"></i> Copyright 2018 @ Domain - All Rights Reserved
  </div>
</div>