<div class="content">
  <div class="container main-header">
      <div class="main-header_top">
          <div class="main-phone">
            <h3>
              <a class="main-phone--link" routerLink="/">8-800-555-35-35</a>
            </h3>
          </div>

          <div class="main-search">
            <form>
              <input type="search" placeholder="Укажите наименование товара">
      
              <span>
                <div class="main-search__icon"><i class="fa fa-search"></i></div>
              </span>
            </form>
          </div>
          
          <div class="main-controls">
            <div class="main-controls-1">
              <a routerLink="/cart" class="main-cart">
                <i class="fas fa-shopping-cart"></i>
              </a>
              <div class="toggleMenu" (click)="toggleSideMenu()">
                <span></span>
              </div>
            </div>
  
            <div class="main-controls-2">
              <a class="btn btn--login" routerLink="/login" *ngIf="!isLoggedIn">Вход</a>
              <!-- <a href="#" class="btn btn--reg" *ngIf="!isLoggedIn">Регистрация</a> -->

              <div class="main-dropdown" *ngIf="isLoggedIn">
                <a class="main-profile--link" (click)="toggleDropDown()">
                  <span>{{ email }}</span><i class="fas fa-user"></i><i class="fas fa-angle-down"></i>
                </a>
                <div class="main-dropdown-content">
                  <a href="#" routerLink="/profile">Профиль</a>
                  <a href="#" (click)="logout($event)">Выйти</a>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
  

  <div class="main-header_bottom container">
      <div class="main-search">
        <form>
          <input type="search" placeholder="Укажите наименование товара">
  
          <span>
            <div class="main-search__icon"><i class="fa fa-search"></i></div>
          </span>
        </form>
      </div>

      <div class="catalogs">
          <ul>
            <li><a href="#" routerLink="catalog/oil-and-grease">Масло и смазки</a></li>
            <li><a href="#" routerLink="catalog/accumulator">Аккумуляторы</a></li>
            <li><a href="#" routerLink="catalog/tire">Шины и диски</a></li>
            <li><a href="#" routerLink="catalog/parts">Запчасти</a></li>
          </ul>
      </div>
  </div>

  <router-outlet></router-outlet>
</div>

<div class="sideMenu">
  <div class="mobile-controls">
    <div class="controls--authenticated" *ngIf="isLoggedIn">
      <a routerLink="/profile" class="mobile-profile--link">
        <i class="fas fa-user"></i><span>{{ email }}</span>
      </a>
      <a href="#" class="btn btn--logout" (click)="logout($event)" (click)="toggleSideMenu()">Выйти</a>
    </div>
    
    <div class="controls--not_authenticated" *ngIf="!isLoggedIn">
        <a class="btn btn--login" routerLink="/login" (click)="toggleSideMenu()">Вход</a>
        <a href="#" class="btn btn--reg" (click)="toggleSideMenu()">Регистрация</a>
    </div>
  </div>

  <div class="catalogs">
      <ul>
        <li *ngIf="hasAuthorities(['MANAGER','ADMIN'])"><a href="#" (click)="toggleSideMenu()" routerLink="manager/orders">Заказы пользователей</a></li>
        <li><a href="#" (click)="toggleSideMenu()" routerLink="catalog/oil-and-grease">Масло и смазки</a></li>
        <li><a href="#" (click)="toggleSideMenu()" routerLink="catalog/accumulator">Аккумуляторы</a></li>
        <li><a href="#" (click)="toggleSideMenu()" routerLink="catalog/tire">Шины и диски</a></li>
        <li><a href="#" (click)="toggleSideMenu()" routerLink="catalog/parts">Запчасти</a></li>
      </ul>
  </div>
</div>





