@import '../../scss/buttons.scss';

@media only screen and (max-width: 768px) {
    .toggleMenu {
        display: block!important;
    }
}

.toggleMenu {
    display: none;
    position: absolute;
    top: 13px;
    left: -60px;
    width: 50px;
    height: 50px;
    // background-color: #dfe21c;
    // border: 1px solid #d6d4d5;
    border-radius: 20%;
    cursor: pointer;
    transition: .3s;
  
    span {
        top: 50%; margin-top: -1px;
        left: 50%; margin-left: -15px;

        &, &::before, &::after {
            position: absolute;
            width: 30px;
            height: 4px;
            background-color: #3c3636;
            border-radius: 12px;
        }

        &::before, &::after {
            content: '';
            display: block;
            transition: .5s;
        }

        &::before { transform: translateY(-10px) }
        &::after { transform: translateY(10px) }
    }

    &.toggleMenu--active span {
        height: 0;
        &::before { transform: rotate(-45deg) }
        &::after { transform: rotate(45deg) }
    }
}
#main-sidebar {
    display: grid;
    position: fixed;
    top: 0; right: 0;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    align-items: start;
    height: 100vh;
    width: 0px;
    background-color: purple;
    transition: .3s;
}
#main-sidebar.is-open { width: 260px }

.mobile-controls {
    width: 260px;
    padding: 0 15px;
    padding: 15px;

    &, .controls--not_authenticated {
        display: grid;
        grid-auto-flow: column;
        align-self: center;
    }

    .controls--authenticated .mobile-profile--link{
        text-decoration: none;
        font-size: 1em;
        color: #fff;
        margin-right: .6em;
        margin-bottom: 5px;

        .fa-user { margin-right: 8px }

        span {
            font-size: 1.2em;
            margin-right: .3em;
        }
    }

    a {
        display: block;
        width: fit-content;
        padding: .3em .9em;
        line-height: 1;
    }

    .btn--login { justify-self: start }
    .btn--reg { justify-self: end }
    .btn--logout { margin-left: 12px }
}

