<div id="main-sidebar">
    <div class="mobile-controls">
        <div class="controls--authenticated" *ngIf="isLoggedIn">
        <a routerLink="/profile" class="mobile-profile--link" toggleSidebar>
            <i class="fas fa-user"></i><span>{{ email }}</span>
        </a>
        <a href="#" class="btn btn--logout" (click)="logout($event)" toggleSidebar>Выйти</a>
        </div>
        
        <div class="controls--not_authenticated" *ngIf="!isLoggedIn">
            <a class="btn btn--login" routerLink="/login" toggleSidebar>Вход</a>
            <a href="#" class="btn btn--reg" toggleSidebar>Регистрация</a>
        </div>
    </div>
    
    <div class="catalogs">
        <ul>
            <li *ngIf="hasAuthorities('MANAGER','ADMIN')" toggleSidebar><a href="#" routerLink="/manager/orders">Заказы пользователей</a></li>
            <li toggleSidebar><a href="#" routerLink="/catalog/oil-and-grease">Масло и смазки</a></li>
            <li toggleSidebar><a href="#" routerLink="/catalog/accumulator">Аккумуляторы</a></li>
            <li toggleSidebar><a href="#" routerLink="/catalog/tire">Шины и диски</a></li>
            <li toggleSidebar><a href="#" routerLink="/catalog/parts">Запчасти</a></li>
        </ul>
    </div>
</div>
