@import '../../../../scss/buttons';

$fromTop: 137px;

#order-editor {
    min-height: calc(100vh - #{$fromTop});

    #order-items {
        display: grid;
        padding: 0 8px;
        width: 100%;
        margin-bottom: 20px;
    }
}

app-order-add-item {
    display: none;
    width: 100%;
    min-height: calc(100vh - #{$fromTop});
    background-color: #f1f1f1;
}

.total {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 0 -8px;
    font-size: 1.1em;
    border-bottom: 2px solid blue;
    box-shadow: 0px -4px 10px -2px #a7a7a7;

    .lbl {
        flex: 0 0 80%;
        padding-left: 8px;
    }
    .total-price { flex: 0 0 20% }
}
.item {
    display: grid;
    grid-template-areas:"title title title"
                        "image price special-buttons"
                        "image count-buttons special-buttons";
    grid-template-rows: 0.6fr 0.6fr 1fr;
    margin: 0 -8px;
    padding: 5px 8px;

    .title { grid-area: title }
    .image { grid-area: image }
    .price { grid-area: price }
    .count-buttons { grid-area: count-buttons }
    .special-buttons { grid-area: special-buttons }

    .price { font-weight: bold }
    .count-buttons {
        display: flex;
        width: 100px;
        height: 34px;
    }

    .image img {
        width: 100px; height: 100px;
        object-fit: contain;
    }

    .btn-minus, .count, .btn-plus {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33.333333%;
    }

    .btn-minus, .btn-plus {
        text-align: center;
        color: gray;
        cursor: pointer;

        &:hover {
            color: #333;
            border-color: #aaa;
        }
    }

    .btn-minus {
        border: solid #ddd;
        border-width: 1px 0 1px 1px;
        border-radius: 5px 0 0 5px;
    }

    .count {
        border: solid #ddd;
        border-width: 1px 0 1px 0;
        text-align: center;
    }

    .btn-plus {
        border: solid #ddd;
        border-width: 1px 1px 1px 0;
        border-radius: 0 5px 5px 0;
    }

    .btn-remove {
        display: inline-block;
        background-color: #dc3545;
        color: #fff;
        padding: .375em .75em;
        border-radius: .25em;
        transition: background-color .15s;
        cursor: pointer;

        &:hover { background-color: #bd2130 }
    }
}

.show-add_item_panel {
    margin-top: 1em;
    padding: .375em .75em;
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color .15s;
    border-radius: .25em;

    &:hover {
        background-color: #e0a800;
        background-color: #d39e00;
    }
}

