<div class="order-details" *ngIf="order">
  <table id="order-general-info">
      <tbody>
          <tr>
              <th>Номер заказа</th>
              <td>#{{order.id}}</td>
          </tr>
          <tr>
              <th>Имя</th>
              <td>{{ order.customer.name }}</td>
          </tr>
          <tr>
              <th>Телефон</th>
              <td>{{ order.customer.phone }}</td>
          </tr>
          <tr>
              <th>Адресс доставки</th>
              <td>{{ order.address }}</td>
          </tr>
          <tr>
              <th>Сумма заказа</th>
              <td>${{ order.total }}</td>
          </tr>
          <tr>
              <th>Дата создания</th>
              <td>{{ order.createdAt }}</td>
          </tr>
          <tr>
              <th>Дата обновления</th>
              <td>{{ order.updatedAt }}</td>
          </tr>
          <tr>
              <th>Статус</th>
              <td>{{ order.status }}</td>
          </tr>
      </tbody>
  </table>

  <table id="order-items">
      <thead>
          <th>id</th>
          <th>Наименование</th>
          <th>Ед.</th>
          <th>Цена</th>
          <th>Итого</th>
      </thead>

      <tbody>
          <tr *ngFor="let product of order.products" class="item">
              <td class="id">{{ product.product.id }}</td>
              <td class="title">{{ product.product.title }}</td>
              <td class="amount">{{ product.amount }}</td>
              <td class="pricePerItem">${{ product.product.price }}</td>
              <td class="price">${{ product.product.price * product.amount }}</td>
          </tr>
      </tbody>
  </table>

  <button type="submit" id="edit-order" (click)="goToOrderEditor($event)">Редактировать заказ</button>
</div>
