.order-details {
    display: grid;
    justify-items: center;
    padding: 1em 0;

    #order-general-info {
        width: 250px;

        th { text-align: left }
        td { padding-left: 8px }
    }

    #order-items {
        display: grid;
        width: 100%;
        margin-top: 2em;

        thead, tbody tr {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 18% 40% 10% 15% 17%;
            width: 100%;
            border-top: 1px solid #dee2e6;
        }

        thead { border-bottom: 1px solid #dee2e6 }

        thead tr {
            display: flex;
            align-items: center;
            justify-content: center;
            word-break: break-word;
        }

        .item {
            &:nth-child(odd) { background-color: rgba(0,0,0,0.05) }
            
            .id, .title, .amount, .pricePerItem, .price {
                display: flex;
                align-items: center;
                padding: 0 4px;
                word-break: break-word;
            }

            .id, .amount, .pricePerItem, .price { justify-content: center }
            .title { justify-content: start }
        }
    }
}
#edit-order {
    margin-top: 1em;
    padding: .375em .75em;
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color .15s;
    border-radius: .25em;

    &:hover {
        background-color: #e0a800;
        background-color: #d39e00;
    }
}