<nav id="nav-back" (click)="goBack()">
    <i class="fas fa-arrow-circle-left"></i>Назад
</nav>

<div id="add-item-panel">
  <input type="text" id="item-search" [formControl]="searchField" placeholder="Товар для поиска">

  <div class="items-container">
      <div *ngFor="let item of results" class="item">
          <div class="title">
              <span>{{ item.title }}</span> 
          </div>
      
          <div class="image">
            <img [src]="item.image" class="" alt="">
          </div>
          
          <div class="rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="far fa-star"></span>
              <span class="far fa-star"></span>
          </div>
      
          <div class="price">
              <span>${{ item.price }}</span>
          </div>
      
          <div class="buttons">
              <a class="btn-add_item" (click)="addItem(item)">Добавить</a>
          </div>
      </div>
  </div>
</div>