<div class="container main-header_top">
  <div class="main-phone">
    <h3>
      <a class="main-phone--link" routerLink="/">8-800-555-35-35</a>
    </h3>
  </div>

  <div class="main-search">
    <form>
      <input type="search" [formControl]="search" placeholder="Укажите наименование товара">

      <span>
        <div class="main-search__icon"><i class="fa fa-search"></i></div>
      </span>
    </form>
  </div>
  
  <div class="main-controls">
      <a routerLink="/cart" class="main-cart">
        <i class="fas fa-shopping-cart"></i>
      </a>
      <a class="btn btn--login" routerLink="/login" *ngIf="!isLoggedIn">Вход</a>

      <div class="main-dropdown" *ngIf="isLoggedIn" toggleDropdown>
        <a class="main-profile--link">
          <span>{{ email }}</span><i class="fas fa-user"></i><i class="fas fa-angle-down"></i>
        </a>
        <div class="main-dropdown-content">
          <a href="#" routerLink="/profile">Профиль</a>
          <a href="#" (click)="logout($event)">Выйти</a>
        </div>
      </div>
  </div>
</div>


<div class="main-header_bottom container">
    <div class="main-search">
      <form>
        <input type="search" [formControl]="search" placeholder="Укажите наименование товара">
        
        <span>
          <div class="main-search__icon"><i class="fa fa-search"></i></div>
        </span>

        <div *ngIf="results?.length" class="results">
            <div *ngFor="let result of results" class="hint">{{ result }}</div>
        </div>
      </form>
    </div>

    <div class="catalogs">
        <main-menu-desktop [catalogs]="catalogs"></main-menu-desktop>
    </div>
</div>